var startmark = 0;
var status = 0;
var JUDGEPOINT = 0.3;
var cardCurComp, cardNotCurComp;

function touchStart(e, ins) {
  var pageX = e.touches[0].pageX;
  startmark = pageX;
  cardCurComp = ins.selectComponent('.cardCur');
  cardNotCurComp = ins.selectComponent('.cardNotCur');
}

function touchMove(e, ins) {

  var offset = e.touches[0].pageX - startmark;
  console.log(offset)
  if (offset < 0 && status == 1) {
    // setDrawer(drawerWidth + offset);
  }
  if (offset > 0 && status == 0) {
    // setDrawer(Math.min(drawerWidth, offset));
  }
}



function touchEnd(e, ins) {

  // var pageX = (e.touches[0] || e.changedTouches[0]).pageX;
  // var offset = pageX - startmark;

  // if (offset > 0 && status == 0) {
  //   if (offset < drawerWidth * JUDGEPOINT) {
  //   } else {
  //     // setDrawer(drawerWidth);
  //     status = 1;
  //   }
  // } else if (offset < -10) {
  //   status = 0;
  // }

}



function setCompTransX(comp, x) {
  if (x != 0 && x != drawerWidth) {
    comp.setStyle({
      transform: 'translateX(' + x + 'px)',
      transition: '0'
    })
  } else {
    comp.setStyle({
      transform: 'translateX(' + x + 'px)',
      transition: 'All 0.2s linear'
    })
  }
}


module.exports = {
  touchstart: touchStart,
  touchmove: touchMove,
  touchend: touchEnd
}